---
layout: default
---
<div class='browse'>
  <div class='limiter clearfix'>
    <form id='search'>
      <input type='text' placeholder='Filter topics'>
    </form>
      <script type='text/template' id='tags'>
        <li>
          <a data-tag='<%= tag %>' href='#'><%= tag %></a>
        </li>
      </script>

      <ul id='tag-list' class='clearfix'></ul>
  </div>
</div>
<div class='limiter clearfix'>

  <script type='text/template' id='examples'>
    <li>
    <a href='{{site.baseurl}}<%= url %>' class='post'>
        <h4 class='code title'><%= title %></h4>
        <em class='description'><%= description %></em>
        <small class='tags'><%= tags %></small>
        </a>
    </li>
  </script>

  <ul id='results' class='topics'></ul>
</div>
<script>
  $(function() {
    var front = new Docs();
    $(front.queryExamples);
  });
</script>
