---
layout: 'default'
---

<div class='limiter clearfix relative' data-spy='scroll'>
  <div class='content'>
    <div class='content-main'>
      <div class='content-header clearfix'>
        <a href='{{site.baseurl}}/{{page.url}}' class='result'>
          <h4 class='{{page.category}} title'>{{page.title}}</h4>
          <em class='description'>{{page.description}}</em>
          <small class='tags'>
            {% for tag in page.tags %}
              {{tag}}{% unless forloop.last %},{% endunless %}
            {% endfor %}
          </small>
        </a>
        <div class='details'>
          <div>
            <h6 class='label'>Tools Required</h6>
            {% for item in page.tools %}
              {{item}} 
            {% endfor %}
          </div>
          <div>
            <h6 class='label'>Modest Maps Version</h6>
            {{page.version}}
          </div>
        </div>
      </div>

      <!--Gist preview-->
      <iframe class='preview' src='http://bl.ocks.org/d/{{page.hash}}/' frameborder='0'></iframe>

      <script type='text/template' id='snippets'>
        <div class='snippet'>
          <div class='heading'>
            <h5 id='<%=fileId %>' class='filename'><%= name %></h5>
          </div>
          <pre class='prettyprint linenums'><%- content %></pre>
        </div>
      </script>
      <div id='code-examples'></div>
    </div>
  </div>
  <div class='sidebar'>
    <div class='sidebar-inner'>
      <div class='block'>
        <h6>Files used</h6>
        <script type='text/template' id='directory-listing'>
          <li><a href='#<%=fileId %>'><%= name %></a></li>
        </script>
        <ul id='toc'></ul>
      </div>
      <div class='use'>
        To use this example we encourage you to fork the code from <a href='https://gist.github.com'>gist.github.com</a> and customize it for your own needs.
        <a target='_blank' class='button orange' href='https://gist.github.com/gists/{{page.hash}}'>Fork this gist</a>
      </div>
      <a class='button' href='https://gist.github.com/gists/{{page.hash}}/download'>Download source code</a>
    </div>
  </div>
</div>

<script>
  $(function() {
    var hash = {{page.hash}};
    var e = new Docs();
    $(e.getGist(hash));
    $(e.fixedSidebar());
  });
</script>
